body {
  background-color: black;
}

table {
  border-collapse: collapse;
  width: 80%;
  background-color: rgb(35, 141, 235);
} 

th,
td {
  border: 1px solid #dddddd;
  padding: 8px;
  text-align: center;
}

th {
  background-color: purple;
}

img {
  max-width: 100px;
  max-height: 150px;
}

#fonte {
  text-align: left;
  font-size: 14px;
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}